* {
    background-color: bisque;
    margin: auto;
    
}


h1 {
    font-family: sans-serif;
    font-size: xx-large;
    font-style: italic;
    text-align:center;
}

.images {
    display:block;
    flex-direction: row;
    gap: 2rem;
}

.images img {
    width:100%;
    max-width: 350px;
    height: 300px;
}